:root {
  --brown: #5f2d03;
  --orange: #f56b06;
  --orange-hover: #b54b00;
  --white: white;
  --yellow: #fff5a7;
  --button-bg: var(--orange);
  --button-text: var(--white);
  --button-gradient: radial-gradient(#247bec, #005ac1);
  --button-border: #bac8fb;
  --container-gradient: radial-gradient(#e41010, #791a0b);
  --room-name: #a5170e;
  --lobby-title: #faff16;
  --input-border: #bbc0c4;
  --navy-shadow: navy;
  --body-gradient: linear-gradient(to bottom, #b9cefd, #ebccb5, #b9cefd);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

body {
  background-image: var(--body-gradient);
}

button {
  background-color: var(--button-bg);
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  color: var(--button-text);
  display: flex;
  font-size: 22px;
  justify-content: center;
  margin: 10px;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--orange-hover);
}

.hidden {
  display: none;
}
